body {
  margin: auto;
  width: 1920px;
  height: 1080px;

}


@media (min-width: 1535px) and (max-width: 1919px) {

    body {
        width: 1536px;
        height: 864px;
    }
}

@media (min-width: 1440px) and (max-width: 1535px) {

    body {
        width: 1440px;
        height: 900px;
    }
}


@media (min-width: 1366px) and (max-width: 1439px) {

    body {
        width: 1366px;
        height: 768px;
    }
}



@media (min-width: 0px) and (max-width: 1365px) {

    body {
        width: 360px;
        height: 640px;

    }
}