@use "../../variables/variables.scss" as var;

.machineDetail__container_body {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 20px 20px 0.7fr 20px 0.15fr 0.15fr 20px 20px;
    grid-template-rows: 4% 30% 10% 1fr ;
    grid-template-areas: 

        ". info info . update add . ."
        ". equipment equipment equipment equipment equipment equipment ."
        ". text text text text text text ."
        ". content content content content content content .  "
    ;
    row-gap: 20px;

}


.machineDetail__container_add {
    grid-area: add;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.machineDetail__container_update {
    grid-area: update;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.machineDetail__link_createUpdate {
border: none;
padding: 10px;
color: var.$color-white;
background-color: var.$color-red;
text-decoration: none;
}

.machineDetail__container_info {
    grid-area: info;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    background-color: var.$color-white;
    border-radius: var.$border-radius;
}

.machineDetail__container_equipment {
    grid-area: equipment;
    padding: 1%;
    background-color: var.$color-white ;
    border: none;
    border-radius: var.$border-radius
}

.machineDetail__container_text {
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var.$color-white;
    border-radius: var.$border-radius
}



.machineDetail__tableEquipment {
    width: 100%;
}


.machine__container_navTable {
    grid-area: content;
    overflow: hidden;
    display: grid;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 10% 1fr ;
    grid-template-areas: 
        ". nav ."
        ". table .";
        row-gap: 15px;
    

}
.machine__container_nav {
    grid-area: nav;
    display: flex;
    justify-content: start;
    align-items: center;

}

.machine__container_table {
    grid-area: table;
    overflow-x: auto;
    overflow-y: auto;
}


