.form {
    display: flex;
    flex-direction: column;
}


.machine__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.machineDetail__container_body {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px
}


.machineDetail__container_info {
    width: 50%;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.container__table {
    width: 100%;
    height: 100%;
    overflow-x: auto; 
    overflow-y: auto;
}




.container__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container__column {
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
}


.row__header {
    width: 40%;
}