.form {
    display: flex;
    flex-direction: column;
}


.machine__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.machineDetail__container_body {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px
}



.machineDetail__container_info {
    width: 50%;
    display: flex;
    justify-content: start;
    gap: 20px;
}


