
.machine__container {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 20px 20px 0.75fr 20px 0.25fr 20px 20px;
    grid-template-rows: 10% 10% 1fr ;
    grid-template-areas: 
        ". info info . create . ."
        ". text text text text text ."
        ". content content content content content .  "
    ;
    row-gap: 20px;
}

.machine__container_info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 10px;
}

.text__info {    
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.text__user  {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.main__text {
    width: 100%;
}


.machine__container_create {
    grid-area: create;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__input_button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.input  {
    width: 75%;
    padding: 5px;
}


.machine__container_navTable {
    grid-area: content;
    overflow: hidden;
    display: grid;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 10% 1fr ;
    grid-template-areas: 
        ". nav ."
        ". table .";
        row-gap: 15px;
        

}
.machine__container_nav {
    grid-area: nav;
    display: flex;
    justify-content: start;
    align-items: center;

}

.machine__container_table {
    grid-area: table;
    overflow-x: auto;
    overflow-y: auto;
}