@use "../variables/variables.scss" as var;

.navigation__mnachine {
    grid-area: nav;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

.navigation__link {
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var.$color-pearl-white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;

}

.navigation__link_active{
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var.$color-red;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}