.navigation__mnachine {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}

.navigation__link {
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;

}

.navigation__link_active{
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 5px;
}