.modal_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 400px;
    background-color: white;
    border: 1px black solid;
}



.authn_container {
    width: 100%;
    height: 100%;
}