@use "../../variables/variables.scss" as var;

.createUpdate__container_body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

}


.createUpdate__form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr) ;
    grid-template-areas: 
    
        " . text__servicemessage text__servicemessage . "
        " . text__TypeTechnicalMaintenance select__TypeTechnicalMaintenance . "
        " . text__DateMaintenance input__DateMaintenance . "
        " . text__OperatingTime input__OperatingTime . "
        " . text__OrderNumber input__OrderNumber . "
        " . text__DateOrderNumber input__DateOrderNumber . "
        " . text__SerialNumber text__SerialNumberValue . "
        " . text__ServiceCompany select__ServiceCompany . "
         " . button button . "
                
        ;

        row-gap: 10px;
        column-gap: 10px
    ;
}

.button {
    grid-area: button;
    padding: 10px 30px 10px 30px;

    justify-self: center;
    align-self: center;
    background-color: var.$color-red;
    color: var.$color-white;
    border: none;
}
.button:hover {
    cursor: pointer;
}

.text__servicemessage {
    grid-area: text__servicemessage;
    justify-self: start;
    align-self: center;
    color: var.$color-red;
}


.text__TypeTechnicalMaintenance {
    grid-area: text__TypeTechnicalMaintenance;
    justify-self: start;
    align-self: center;
}

.select__TypeTechnicalMaintenance {
    grid-area: select__TypeTechnicalMaintenance;
    justify-self: start;
    align-self: center;
}

.text__DateMaintenance {
    grid-area: text__DateMaintenance;
    justify-self: start;
    align-self: center;
}

.input__DateMaintenance {
    grid-area: input__DateMaintenance;
    justify-self: start;
    align-self: center;
}

.text__OperatingTime {
    grid-area: text__OperatingTime;
    justify-self: start;
    align-self: center;
}

.input__OperatingTime {
    grid-area: input__OperatingTime;
    justify-self: start;
    align-self: center;
}

.text__OrderNumber {
    grid-area: text__OrderNumber;
    justify-self: start;
    align-self: center;
}

.input__OrderNumber {
    grid-area: input__OrderNumber;
    justify-self: start;
    align-self: center;
}


.text__DateOrderNumber {
    grid-area: text__DateOrderNumber;
    justify-self: start;
    align-self: center;
}

.input__DateOrderNumber {
    grid-area: input__DateOrderNumber;
    justify-self: start;
    align-self: center;
}

.text__SerialNumber {
    grid-area: text__SerialNumber;
    justify-self: start;
    align-self: center;
}

.text__SerialNumberValue {
    grid-area: text__SerialNumberValue;
    justify-self: start;
    align-self: center;
}


.text__ServiceCompany {
    grid-area: text__ServiceCompany;
    justify-self: start;
    align-self: center;
}

.select__ServiceCompany {
    grid-area: select__ServiceCompany;
    justify-self: start;
    align-self: center;
}