
@font-face {  
    font-family: "sans-regular";  
    src: url(../../fonts/PT-Astra-Sans_Regular.woff) format('woff');  
} 

@font-face {  
    font-family: "sans-bold";  
    src: url(../../fonts/PT-Astra-Sans_Bold.woff) format('woff');  
}