.main {
    width: 100%;
}



.container__table {
    max-width: 90vw;
    max-height: 40vw;
    overflow-x: scroll; 
    overflow-y: scroll;
}

.table {
   table-layout: fixed;

}


.table__row {
    border: 1px solid black;
}

.table__column {
    min-width: 200px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle

}